* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



/* Grid */
.grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(2em, 4fr) repeat(12,minmax(calc(1230px / 12),1fr))
                            minmax(2em, 4fr);
}
.grid-content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12,minmax(auto,1fr));
}
.grid-row-header {
    grid-template-rows: 100px 1fr;
}
.grid-row-footer {
    grid-template-rows: 1fr 100px;
}
.grid_2-14 {
    grid-column: 2 / 14;
}
.grid_2-8 {
    grid-column: 2 / 8;
}
.grid_8-14 {
    grid-column: 8 / 14;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 13px;
    font-weight: 400;
    height: 64px;
    justify-content: space-between;
    line-height: 27px;
    min-width: 0px;
    padding: 8px;
    margin-bottom: 64px;
}



.translation-container {
    display: flex;
    grid-row-start: 2;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
}
.human-container {
    width: 50%;
}
.human-container textarea {
    resize: none;
    border: 0;
    height: 192px;
    width: 100%;
    padding: 20px;

    font-size: 24px;
    line-height: 32px;
}
.human-container-header {
    height: 49px;
    border-radius: 15px 15px 15px 15px;
    padding: 0 0 0 20px;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    left: 0px;
    letter-spacing: 0.25px;
    line-height: 40px;
}
.whale-container-header {
    height: 49px;
    border-radius: 15px 15px 15px 15px;
    padding: 0 0 0 20px;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    left: 0px;
    letter-spacing: 0.25px;
    line-height: 40px;
}
.whale-container {
    width: 50%;
}
#whale-text {
    height: 192px;
    padding: 20px;

    background-color: rgb(245, 245, 245);

    font-size: 24px;
    line-height: 32px;
}
#translate-button {
    border: 1px solid blue;
}
#translate-button:hover {
    border: 1px solid blue;
    background-color: blue;
}